{% extends 'front.html.twig' %}

{% block header %}
    <header class="relative overflow-hidden">
        <img 
            {% if post.headerImage.hash %}src="{{ path('app_upload_files_from_hash', {'hash': post.headerImage.hash}) }}"{% endif %}
            data-srcset="{{ post.headerImage.relativePath | imagine_filter('header_xlg') }} 1520w, {{ post.headerImage.relativePath | imagine_filter('header_lg') }} 1048w, {{ post.headerImage.relativePath | imagine_filter('header_md') }} 840w, {{ post.headerImage.relativePath | imagine_filter('header_sm') }} 500w" 
            alt="{{ post.title }}" 
            class="absolute top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2 w-full h-full object-cover select-none pointer-events-none lazy"
            data-sizes="auto"
        >
        <div class="w-full h-full absolute inset-0 bg-gradient-to-b from-big-stone-950/80 to-big-stone-500/30"></div>
        <div class="relative mt-[72px] lg:mt-[83px] container py-32 lg:py-32">
            <div class="flex flex-wrap gap-2.5 justify-start lg:justify-center items-center mb-4"><a href="/" class="flex items-center"><i data-lucide="home" class="size-3.5 text-white"></i></a><span class="text-picton-blue-500">/</span><a href="{{ path('app_whitepapers_index') }}" class="text-sm text-white hover:underline">Whitepapers</a><span class="text-picton-blue-500">/</span><span class="text-sm text-white">{{ post.title }}</span></div>
            <h1 class="text-center font-heading heading-1 text-4xl lg:text-7xl text-white">{{ post.title }}</h1>
        </div>
    </header>

    <section id="download-whitepaper">
        {% include 'whitepaper/_download_form.html.twig' %}
    </section>

    <main class="relative container flex gap-4 lg:gap-8">
        <nav class="hidden md:block sticky md:w-1/4 top-[calc(72px+16px)] lg:top-[calc(83px+32px)] lg:w-1/5 h-[100dvh] pb-8 lg:pb-24 overflow-y-auto" x-data="tocComponent()">
            <ul class="space-y-2">
                {% for heading in headings %}
                    {% set fontSize = 'font-medium' %}
                    {% if heading.level == 3 %}
                        {% set fontSize = 'text-sm ml-4 text-black/60' %}
                    {% elseif heading.level == 4 %}
                        {% set fontSize = 'text-sm ml-8 text-black/60 hidden' %}
                    {% endif %}
                    <li>
                        <a href="#{{ heading.id }}" class="block py-1 transition-colors duration-200 text-black/80 hover:text-picton-blue-500 {{ fontSize }}">{{ heading.value }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <article id="content" class="relative md:w-3/4 lg:4/5">
            <div class="relative">
                {{ post.content | raw }}
            </div>
        </article>
    </main>

    <section id="download-whitepaper-2">
        {% include 'whitepaper/_download_form.html.twig' %}
    </section>

    {% if other_posts|length > 0 %}
        <section id="related">
            <div class="container py-8 lg:py-14">
                <h2 class="heading-2 text-4xl lg:text-6xl"> Recent Insights </h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 mt-8">
                    {% for p in other_posts %}
                        {% set thumbnail = p.thumbnail %}
                        <a href="{{ path('app_insights_show', {'slug': p.slug}) }}" class="relative aspect-square flex items-end justify-start bg-black group overflow-hidden p-4 lg:p-6 rounded" aria-label="{{ p.title }}"> 
                            <span class="relative inline-flex items-center gap-6 lg:gap-8 text-white z-10 leading-none font-medium text-left text-2xl bg-big-stone-950 group-hover:bg-picton-blue-500 -ml-4 lg:-ml-6 group-hover:-mr-4 group-hover:lg:-mr-6 -mt-4 lg:-mt-6 mb-4 group-hover:-mb-4 group-hover:lg:-mb-6 p-4 lg:p-6 duration-300"> {{ p.title }} <i data-lucide="arrow-up-right" class="min-w-6 size-6 group-hover:rotate-90 duration-300 ease-out"></i> </span> 
                            <img 
                                {% if thumbnail.hash %}src="{{ path('app_upload_files_from_hash', {'hash': thumbnail.hash}) }}"{% endif %}
                                data-src="{{ thumbnail.image | imagine_filter('thumb_sm') }}" 
                                class="lazy absolute opacity-50 group-hover:opacity-75 inset-0 w-full h-full object-cover group-hover:scale-105 duration-300 ease-out" 
                                data-sizes="auto"
                            > 
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}