{% extends 'admin.html.twig' %}

{% block javascripts %}
    {% block importmap %}{{ importmap(['admin', 'post_form']) }}{% endblock %}
{% endblock %}

{% block pagetitle %}
    Add New Insight
{% endblock %}

{% block body %}
    <form method="POST" action="{{ path('app_admin_insights_create') }}" class="parsley-style-1" data-parsley-validate novalidate>
        <div class="row row-xs">
            <div class="col-lg-8 col-xl-7">
                <fieldset class="form-fieldset">
                    <legend>Insight</legend>
                    <div class="form-group">
                        <label for="category" class="d-block required">Category</label>
                        <div class="parsley-radio" id="rd_category_wrapper">
                            {% for c in categories %}
                                <div class="form-check form-check-inline">
                                    <input data-label="{{ c.name }}" class="form-check-input" type="radio" name="typeId" id="category_{{ c.id }}" value="{{ c.id }}" {{ loop.first ? 'required data-parsley-class-handler="#rd_category_wrapper" data-parsley-errors-container="#rd_category_error_container"' : ''}}>
                                    <label class="form-check-label" for="category_{{ c.id }}">{{ c.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="rd_category_error_container"></div>
                    </div>
                    <div class="form-group">
                        <label for="author" class="d-block required">Author</label>
                        <input type="text" class="form-control" id="author" name="author" maxlength="255" required value="Marketing & Communications">
                    </div>
                    <div class="form-group">
                        <label for="title" class="d-block required">Title</label>
                        <input type="text" class="form-control" id="title" name="title" maxlength="255" required>
                    </div>
                    <div class="form-group">
                        <label for="summary" class="d-block required">Summary</label>
                        <textarea class="form-control" rows="2" id="summary" name="summary" maxlength="700" required></textarea>
                    </div>
                    <div class="form-group d-none" id="whitepaper_container">
                        <!--<img src="https://placehold.co/400x600" class="img-fluid mg-b-10" id="file_image" style="height: 300px;">-->
                        <label for="file_id" class="control-label d-block">Whitepaper File</label>
                        <input class="form-control" type="file" id="whitepaper_file" accept=".pdf">
                        <input type="text" id="file_id" name="fileId" class="d-none">
                        <input type="hidden" id="thumbnail_id" name="thumbnailId" />
                        <div class="progress mg-b-10">
                            <div id="file_pb" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between mg-b-5">
                            <label for="content" class="d-block required">Content</label>
                            <a id="content_spinner" href="javascript:;" class="btn btn-xs btn-link cursor-default d-none">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Uploading images...
                            </a>
                        </div>
                        <textarea class="form-control" rows="5" id="content" name="content" required></textarea>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-4 col-xl-5">
                <fieldset class="form-fieldset mg-b-20">
                    <legend>SEO Data</legend>
                    <div class="form-group">
                        <div class="d-flex justify-content-between mg-b-5">
                            <label for="slug" class="d-block required">Slug</label>
                            <a href="javascript:;" class="tx-13" id="btn_slugify">Generate from title</a>
                        </div>
                        <input type="text" class="form-control" id="slug" name="slug" maxlength="255" data-parsley-trigger="change" data-parsley-validate-slug="validateSlug" required>
                    </div>
                    <div class="form-group">
                        <label for="meta_title" class="d-block required">Meta Title</label>
                        <input type="text" class="form-control" id="meta_title" name="metaTitle" maxlength="255" required>
                    </div>
                    <div class="form-group">
                        <label for="meta_description" class="d-block required">Meta Description</label>
                        <input type="text" class="form-control" id="meta_description" name="metaDescription" maxlength="255" required>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="sector" class="d-block">Sector</label>
                    <div class="parsley-checkbox" id="cb_sector_wrapper">
                        {% for s in sectors %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="sector_{{ s.id }}"  name="sectorIds[]" value="{{ s.id }}">
                                <label class="custom-control-label" for="sector_{{ s.id }}">{{ s.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="cb_sector_error_container"></div>
                </div>
                <div class="form-group">
                    <img src="https://placehold.co/300x200" class="img-fluid mg-b-10" id="hero_image" style="width: 300px; height: 200px">
                    <label for="header_file" class="d-block required">Header Image</label>
                    <input class="form-control" type="file" id="header_file" accept="image/*">
                    <input type="text" id="header_image_id" name="headerImageId" class="d-none" required />
                    <div class="progress mg-b-10">
                        <div id="header_image_pb" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="published_at" class="d-block">Published On</label>
                    <input type="date" class="form-control" id="published_at" name="publishedAt" value="{{ "now"|date('Y-m-d') }}">
                </div>
                <input type="hidden" id="status" name="status" value="0">
                <div class="row g-2">
                    <div class="col-md-6">
                        <div class="d-grid d-block">
                            <button type="submit" class="btn btn-primary" id="btn_publish">Publish</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-grid d-block">
                            <button type="submit" class="btn btn-secondary" id="btn_draft">Save as Draft</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}