{% extends 'front.html.twig' %}

{% block title %}
    {% if metaPage.metaTitle %}
        <title>{{ metaPage.metaTitle }}</title>
    {% else %}
        {{ parent() }}
    {% endif %}    
{% endblock %}
{% block meta_title %}
   {#<meta name="title" content="{{ metaPage.metaTitle }}">#}
   <meta property="og:title" content="{{ metaPage.metaTitle }}" />
   <meta name="twitter:title" content="{{ metaPage.metaTitle }}" />
{% endblock %}
{% block meta_description %}
   <meta name="description" content="{{ metaPage.metaDescription }}">
   <meta property="og:description" content="{{ metaPage.metaDescription }}" />
   <meta name="twitter:description" content="{{ metaPage.metaDescription }}" />
{% endblock %}
{% block meta_url %}
   <meta property="og:url" content="{{ url('app_contact_us') }}" />  
   <link rel="canonical" href="{{ url('app_contact_us') }}" />
{% endblock %}
{% block link_preload %}
    <link
        rel="preload"
        as="image"
        href="{{ preload('/_astro/getty-images-Oe7MfGGO_h0-unsplash.D-At4Vgx_1qlAmb.webp', {as: 'image'}) }}"
    >
{% endblock %}
{% block schema_org %}
   {{ parent() }}
   {{ contact_schema(metaPage.metaTitle ?: '') | raw }}
{% endblock %}
{% block inline_stylesheets %}
    <style>
        .contact-us {background-image: url('{{ asset("images/ant-rozetsky-_qWeqqmpBpU-unsplash.webp") }}');}
    </style>
{% endblock %}

{% block header %}
    <header><div class="mt-[72px] lg:mt-[83px] container py-8 lg:py-14"><h1 class="contact-us text-center font-heading heading-1 text-6xl lg:text-9xl xl:text-[12rem] xl:!leading-tight bg-clip-text text-transparent bg-center">Contact Us</h1></div></header>
{% endblock %}

{% block content %}
   <div class="bg-white">
      <div class="container grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 xl:gap-12 py-8 lg:py-14">
         <div class="flex flex-col"> <img src="/_astro/getty-images-Oe7MfGGO_h0-unsplash.D-At4Vgx_1qlAmb.webp" alt="Overview Image" decoding="async" fetchpriority="high" width="5472" height="3078" class="h-full object-cover w-auto aspect-video lg:aspect-none"> </div>
         <div>
            <p class="mb-2 uppercase text-xs tracking-[0.1em]"> <span class="text-picton-blue-500">/</span> Contact Us</p>
            <h2 class="heading-2 text-4xl lg:text-6xl mb-4">
               Get Tailored Advice from Our Seasoned Professionals
            </h2>
            <p class="mb-4 lg:mb-6">
               Get in touch with our team for business inquiries, collaborations, or
               to request a quote.
            </p>
            {#<iframe class="w-full h-80 lg:h-96 mb-4 lg:mb-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4051.1159804301515!2d103.8577305!3d1.3001639999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19e195c8e5ff%3A0x9b7dbb0bffcd7443!2sEurogroup%20Consulting%20South%20East%20Asia!5e1!3m2!1sen!2sid!4v1755154740281!5m2!1sen!2sid" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>#}
            <div class="flex flex-col items-start gap-2 mb-4 lg:mb-6">
               <a href="{{ app_base_url }}" target="_blank" class="text-picton-blue-500 hover:text-picton-blue-900 inline-flex items-center gap-2">
                  {{ ux_icon('lucide:link', {'class': 'text-big-stone-900 size-4'}) }}
                  {{ app_base_url }}
               </a> 
               <a href="mailto:{{ app_contact_email }}" class="text-picton-blue-500 hover:text-picton-blue-900 inline-flex items-center gap-2">
                  {{ ux_icon('lucide:mail', {'class': 'text-big-stone-900 size-4'}) }}
                  {{ app_contact_email }}
               </a> 
            </div>
            <div class="w-full" x-data="formHandler('{{ app.request.uri }}')">
               <form @submit.prevent="validateForm" x-ref="form" class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 w-full" action="{{ path('app_inquiry_submit') }}">
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">First Name<span>*</span></label><input required x-model="formData.firstName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter First Name" name="firstName" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Last Name<span>*</span></label><input required x-model="formData.lastName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Last Name" name="lastName" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Company Name<span>*</span></label><input required x-model="formData.companyName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Company Name" name="companyName" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Job Title<span>*</span></label><input required x-model="formData.jobTitle" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Job Title" name="jobTitle" aria-invalid="false" value=""> </div>
                  {#<div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Country<span>*</span></label><input required x-model="formData.country" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Your Country" name="country" aria-invalid="false" value=""> </div>#}
                  <div class="relative input-class" x-data="countrySelect(formData, 'country')">
                     <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Country<span>*</span></label>
                     <input 
                        autocomplete="off"
                        name="country"
                        x-model="search"
                        @focus="open = true"
                        @input="filterCountries"
                        @click.outside="open = false"
                        type="text"
                        class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60"
                        placeholder="Type or select a country..."
                        required
                     >

                     <ul x-show="open" class="absolute z-10 mt-1 w-full bg-white border border-big-stone-950/20 rounded-md shadow-lg max-h-40 overflow-auto">
                        <template x-for="country in filtered" :key="country">
                           <li 
                              @click="selectCountry(country)"
                              class="px-3 py-2 cursor-pointer hover:bg-picton-blue-50 text-sm text-big-stone-950"
                              x-text="country"
                           ></li>
                        </template>
                        <li x-show="filtered.length === 0" class="px-3 py-2 text-sm text-gray-500">
                           No results found
                        </li>
                     </ul>
                  </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Phone Number<span>*</span></label><input required x-model="formData.phoneNumber" type="tel" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Phone Number" name="phoneNumber" aria-invalid="false" value=""> </div>
                  <div class="lg:col-span-2"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Email Address<span>*</span></label><input required x-model="formData.emailAddress" type="email" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Email Address" name="emailAddress" aria-invalid="false" value=""> </div>
                  <div class="lg:col-span-2 input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Message<span>*</span></label><textarea required name="message" x-model="formData.message" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" role="textbox" rows="5" placeholder="Write Your Message Here..." aria-invalid="false">      </textarea> </div>
                  <div class="lg:col-span-2"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">RFP Files (.doc, .xls, .pdf, .ppt) <span x-show="isUploading">uploading files...</span></label><input multiple x-ref="fileInput" x-on:change="handleFile($event)" type="file" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Upload RFP here" name="rfpFileId" aria-invalid="false" accept=".doc, .docx, .xls, .xlsx, .pdf, .ppt, .pptx"> </div>
                  <div class="lg:col-span-2">
                     <ul class="space-y-1">
                        <template x-for="(f, index) in uploadedFiles" :key="f.id">
                           <li class="flex items-center justify-between">
                              <span class="text-sm mr-2" x-text="f.name"></span>
                              <button type="button" class="text-red-500 text-sm" @click="removeFile(index, f)">✕</button>
                           </li>
                        </template>
                     </ul>
                  </div>
                  <div class="lg:col-span-2"> 
                     <button class="group inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-white dark:focus-visible:ring-white dark:bg-white dark:text-white dark:hover:bg-white/90 h-10 px-4 py-2 bg-picton-blue-500 text-white text-sm gap-3 hover:bg-picton-blue-500/80 w-max" type="submit" :disabled="isLoading"> <span x-show="!isLoading" x-cloak>Send Inquiry</span> 
                        {{ ux_icon('lucide:arrow-right', {'class': 'size-4 group-hover:translate-x-1 duration-200 ease-out', 'x-show': '!isLoading', 'x-cloak': ''}) }}
                        {{ ux_icon('lucide:loader-circle', {'class': 'size-4 animate-spin', 'x-show': 'isLoading', 'x-cloak': ''}) }} 
                        <span x-show="isLoading" x-cloak>Sending Inquiry...</span> 
                     </button> 
                  </div>
               </form>
               <div x-data="notification" x-on:notify.window="addNotification({variant: $event.detail.variant,sender: $event.detail.sender,title: $event.detail.title,message: $event.detail.message,})">
                  <div x-on:mouseenter="$dispatch('pause-auto-dismiss')" x-on:mouseleave="$dispatch('resume-auto-dismiss')" class="group pointer-events-none fixed inset-x-8 top-0 z-[99] flex max-w-full flex-col gap-2 bg-transparent px-6 py-6 md:bottom-0 md:left-[unset] md:right-0 md:top-[unset] md:max-w-sm">
                     <template x-for="(notification, index) in notifications" x-bind:key="notification.id">
                        <!-- root div holds all of the notifications  --> 
                        <div>
                           <!-- Success Notification  --> 
                           <template x-if="notification.variant === 'success'">
                              <div x-data="{ isVisible: false, timeout: null }" x-cloak x-show="isVisible" class="pointer-events-auto relative rounded-md border border-green-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300" role="alert" x-on:pause-auto-dismiss.window="clearTimeout(timeout)" x-on:resume-auto-dismiss.window=" timeout = setTimeout(() => {(isVisible = false), removeNotification(notification.id) }, displayDuration)" x-init="$nextTick(() => { isVisible = true }), (timeout = setTimeout(() => { isVisible = false, removeNotification(notification.id)}, displayDuration))" x-transition:enter="transition duration-300 ease-out" x-transition:enter-end="translate-y-0" x-transition:enter-start="translate-y-8" x-transition:leave="transition duration-300 ease-in" x-transition:leave-end="-translate-x-24 opacity-0 md:translate-x-24" x-transition:leave-start="translate-x-0 opacity-100">
                                 <div class="flex w-full items-center gap-2.5 bg-green-500/10 rounded-md p-4 transition-all duration-300">
                                    <!-- Title & Message --> 
                                    <div class="flex flex-col gap-2">
                                       <h3 x-cloak x-show="notification.title" class="text-sm font-semibold text-green-500" x-text="notification.title"></h3>
                                       <p x-cloak x-show="notification.message" class="text-pretty text-sm" x-text="notification.message"></p>
                                    </div>
                                    <!--Dismiss Button --> <button type="button" class="ml-auto" aria-label="dismiss notification" x-on:click="(isVisible = false), removeNotification(notification.id)"></button> 
                                 </div>
                              </div>
                           </template>
                           <!-- Danger Notification  --> 
                           <template x-if="notification.variant === 'danger'">
                              <div x-data="{ isVisible: false, timeout: null }" x-cloak x-show="isVisible" class="pointer-events-auto relative rounded-md border border-red-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300" role="alert" x-on:pause-auto-dismiss.window="clearTimeout(timeout)" x-on:resume-auto-dismiss.window=" timeout = setTimeout(() => {(isVisible = false), removeNotification(notification.id) }, displayDuration)" x-init="$nextTick(() => { isVisible = true }), (timeout = setTimeout(() => { isVisible = false, removeNotification(notification.id)}, displayDuration))" x-transition:enter="transition duration-300 ease-out" x-transition:enter-end="translate-y-0" x-transition:enter-start="translate-y-8" x-transition:leave="transition duration-300 ease-in" x-transition:leave-end="-translate-x-24 opacity-0 md:translate-x-24" x-transition:leave-start="translate-x-0 opacity-100">
                                 <div class="flex w-full items-center gap-2.5 bg-red-500/10 rounded-md p-4 transition-all duration-300">
                                    <!-- Title & Message --> 
                                    <div class="flex flex-col gap-2">
                                       <h3 x-cloak x-show="notification.title" class="text-sm font-semibold text-red-500" x-text="notification.title"></h3>
                                       <p x-cloak x-show="notification.message" class="text-pretty text-sm" x-text="notification.message"></p>
                                    </div>
                                    <!--Dismiss Button --> 
                                    <button type="button" class="ml-auto" aria-label="dismiss notification" x-on:click="(isVisible = false), removeNotification(notification.id)">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewBox=" 0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-5 shrink-0" aria-hidden="true">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                       </svg>
                                    </button>
                                 </div>
                              </div>
                           </template>
                        </div>
                     </template>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block contact_us %}{% endblock %}