{% extends 'front.html.twig' %}

{% block title %}
    {% if metaPage.metaTitle %}
        <title>{{ metaPage.metaTitle }}</title>
    {% else %}
        {{ parent() }}
    {% endif %}    
{% endblock %}
{% block meta_title %}
   {#<meta name="title" content="{{ metaPage.metaTitle }}">#}
   <meta property="og:title" content="{{ metaPage.metaTitle }}" />
   <meta name="twitter:title" content="{{ metaPage.metaTitle }}" />
{% endblock %}
{% block meta_description %}
   <meta name="description" content="{{ metaPage.metaDescription }}">
   <meta property="og:description" content="{{ metaPage.metaDescription }}" />
   <meta name="twitter:description" content="{{ metaPage.metaDescription }}" />
{% endblock %}
{% block meta_url %}
   <meta property="og:url" content="{{ url('app_contact_us') }}" />  
   <link rel="canonical" href="{{ url('app_contact_us') }}" />
{% endblock %}

{% block inline_stylesheets %}
    <style>
        .contact-us {background-image: url('{{ asset("images/ant-rozetsky-_qWeqqmpBpU-unsplash.webp") }}');}
    </style>
{% endblock %}

{% block header %}
    <header><div class="mt-[72px] lg:mt-[83px] container py-8 lg:py-14"><h1 class="contact-us text-center font-heading heading-1 text-6xl lg:text-9xl xl:text-[12rem] xl:!leading-tight bg-clip-text text-transparent bg-center">Contact Us</h1></div></header>
{% endblock %}

{% block content %}
   <div class="bg-white">
      <div class="container grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 xl:gap-12 py-8 lg:py-14">
         <div class="flex flex-col"> <img src="/_astro/getty-images-Oe7MfGGO_h0-unsplash.D-At4Vgx_1qlAmb.webp" alt="Overview Image" loading="lazy" decoding="async" fetchpriority="auto" width="5472" height="3078" class="h-full object-cover w-auto aspect-video lg:aspect-none"> </div>
         <div>
            <p class="mb-2 uppercase text-xs tracking-[0.1em]"> <span class="text-picton-blue-500">/</span> Contact Us</p>
            <h2 class="heading-2 text-4xl lg:text-6xl mb-4">
               Get Tailored Advice from Our Seasoned Professionals
            </h2>
            <p class="mb-4 lg:mb-6">
               Get in touch with our team for business inquiries, collaborations, or
               to request a quote.
            </p>
            <div class="flex items-center gap-2 mb-4 lg:mb-6">
               <a href="https://www.marketresearchindonesia.com" class="rounded-full bg-big-stone-950 hover:bg-picton-blue-500 duration-300 ease-out p-2" target="_blank"><i data-lucide="link" class="text-white size-6"></i></a> <a href="mailto:info@marketresearchindonesia.com" class="rounded-full bg-big-stone-950 hover:bg-picton-blue-500 duration-300 ease-out p-2"><i data-lucide="mail" class="text-white size-6"></i></a> <!-- <a
                  href="https://wa.me/+66837082005"
                  class="rounded-full bg-big-stone-950 hover:bg-picton-blue-500 duration-300 ease-out p-2"
                  target="_blank"
                  ><svg
                     xmlns="http://www.w3.org/2000/svg"
                     class="fill-white"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     ><path
                        d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                     ></path></svg
                  ></a
                  > --> 
            </div>
            <div class="w-full" x-data="formHandler('{{ app.request.uri }}')">
               <form @submit.prevent="validateForm" x-ref="form" class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 w-full" action="{{ path('app_inquiry_submit') }}">
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">First Name<span>*</span></label><input required x-model="formData.firstName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter First Name" name="firstName" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Last Name<span>*</span></label><input required x-model="formData.lastName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Last Name" name="lastName" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Company Name<span>*</span></label><input required x-model="formData.companyName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Company Name" name="companyName" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Job Title<span>*</span></label><input required x-model="formData.jobTitle" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Job Title" name="jobTitle" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Country<span>*</span></label><input required x-model="formData.country" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Your Country" name="country" aria-invalid="false" value=""> </div>
                  <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Phone Number<span>*</span></label><input required x-model="formData.phoneNumber" type="tel" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Phone Number" name="phoneNumber" aria-invalid="false" value=""> </div>
                  <div class="lg:col-span-2"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Email Address<span>*</span></label><input required x-model="formData.emailAddress" type="email" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" placeholder="Enter Email Address" name="emailAddress" aria-invalid="false" value=""> </div>
                  <div class="lg:col-span-2 input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-big-stone-950">Message<span>*</span></label><textarea required name="message" x-model="formData.message" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-big-stone-950/20 focus-within:border-big-stone-950 text-big-stone-950 placeholder:text-big-stone-950/60" role="textbox" rows="5" placeholder="Write Your Message Here..." aria-invalid="false">      </textarea> </div>
                  <div class="lg:col-span-2"> <button class="group inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-white dark:focus-visible:ring-white dark:bg-white dark:text-white dark:hover:bg-white/90 h-10 px-4 py-2 bg-picton-blue-500 text-white text-sm gap-3 hover:bg-picton-blue-500/80 w-max" type="submit">Send Inquiry
                     <i data-lucide="arrow-right" class="size-4 group-hover:translate-x-1 duration-200 ease-out"></i></button> 
                  </div>
               </form>
               <div x-data="notification" x-on:notify.window="addNotification({variant: $event.detail.variant,sender: $event.detail.sender,title: $event.detail.title,message: $event.detail.message,})">
                  <div x-on:mouseenter="$dispatch('pause-auto-dismiss')" x-on:mouseleave="$dispatch('resume-auto-dismiss')" class="group pointer-events-none fixed inset-x-8 top-0 z-[99] flex max-w-full flex-col gap-2 bg-transparent px-6 py-6 md:bottom-0 md:left-[unset] md:right-0 md:top-[unset] md:max-w-sm">
                     <template x-for="(notification, index) in notifications" x-bind:key="notification.id">
                        <!-- root div holds all of the notifications  --> 
                        <div>
                           <!-- Success Notification  --> 
                           <template x-if="notification.variant === 'success'">
                              <div x-data="{ isVisible: false, timeout: null }" x-cloak x-show="isVisible" class="pointer-events-auto relative rounded-md border border-green-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300" role="alert" x-on:pause-auto-dismiss.window="clearTimeout(timeout)" x-on:resume-auto-dismiss.window=" timeout = setTimeout(() => {(isVisible = false), removeNotification(notification.id) }, displayDuration)" x-init="$nextTick(() => { isVisible = true }), (timeout = setTimeout(() => { isVisible = false, removeNotification(notification.id)}, displayDuration))" x-transition:enter="transition duration-300 ease-out" x-transition:enter-end="translate-y-0" x-transition:enter-start="translate-y-8" x-transition:leave="transition duration-300 ease-in" x-transition:leave-end="-translate-x-24 opacity-0 md:translate-x-24" x-transition:leave-start="translate-x-0 opacity-100">
                                 <div class="flex w-full items-center gap-2.5 bg-green-500/10 rounded-md p-4 transition-all duration-300">
                                    <!-- Title & Message --> 
                                    <div class="flex flex-col gap-2">
                                       <h3 x-cloak x-show="notification.title" class="text-sm font-semibold text-green-500" x-text="notification.title"></h3>
                                       <p x-cloak x-show="notification.message" class="text-pretty text-sm" x-text="notification.message"></p>
                                    </div>
                                    <!--Dismiss Button --> <button type="button" class="ml-auto" aria-label="dismiss notification" x-on:click="(isVisible = false), removeNotification(notification.id)"></button> 
                                 </div>
                              </div>
                           </template>
                           <!-- Danger Notification  --> 
                           <template x-if="notification.variant === 'danger'">
                              <div x-data="{ isVisible: false, timeout: null }" x-cloak x-show="isVisible" class="pointer-events-auto relative rounded-md border border-red-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300" role="alert" x-on:pause-auto-dismiss.window="clearTimeout(timeout)" x-on:resume-auto-dismiss.window=" timeout = setTimeout(() => {(isVisible = false), removeNotification(notification.id) }, displayDuration)" x-init="$nextTick(() => { isVisible = true }), (timeout = setTimeout(() => { isVisible = false, removeNotification(notification.id)}, displayDuration))" x-transition:enter="transition duration-300 ease-out" x-transition:enter-end="translate-y-0" x-transition:enter-start="translate-y-8" x-transition:leave="transition duration-300 ease-in" x-transition:leave-end="-translate-x-24 opacity-0 md:translate-x-24" x-transition:leave-start="translate-x-0 opacity-100">
                                 <div class="flex w-full items-center gap-2.5 bg-red-500/10 rounded-md p-4 transition-all duration-300">
                                    <!-- Title & Message --> 
                                    <div class="flex flex-col gap-2">
                                       <h3 x-cloak x-show="notification.title" class="text-sm font-semibold text-red-500" x-text="notification.title"></h3>
                                       <p x-cloak x-show="notification.message" class="text-pretty text-sm" x-text="notification.message"></p>
                                    </div>
                                    <!--Dismiss Button --> 
                                    <button type="button" class="ml-auto" aria-label="dismiss notification" x-on:click="(isVisible = false), removeNotification(notification.id)">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewBox=" 0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-5 shrink-0" aria-hidden="true">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                       </svg>
                                    </button>
                                 </div>
                              </div>
                           </template>
                        </div>
                     </template>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block contact_us %}{% endblock %}