<!DOCTYPE html>
<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ app_name }}" />
  <meta name="google-site-verification" content="XqbGLM4QUC0qtNom6xXQN3IHOi2jHoHLCH9AjJW5K50" /> 
  {% if app.environment == 'dev' %}
    <meta name="robots" content="noindex">
  {% else %}
    <meta name="robots" content="noindex"> {# this is for testing purpose. Once its fixed, replace with the meta below #}
    {#<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />#}
  {% endif %}
  {% block title %}<title>{{ app_name }}</title>{% endblock %}
  {% block meta_title %}
    <meta name="title" content="{{ app_name }}">
    <meta property="og:title" content="{{ app_name }}" />
    <meta name="twitter:title" content="{{ app_name }}" />
  {% endblock %}
  {% block meta_description %}
    <meta name="description" content="Market Research Indonesia: Explore comprehensive market research in Indonesia. Stay updated with trends and analysis for strategic decisions.">
    <meta property="og:description" content="Market Research Indonesia: Explore comprehensive market research in Indonesia. Stay updated with trends and analysis for strategic decisions." />
    <meta name="twitter:description" content="Market Research Indonesia: Explore comprehensive market research in Indonesia. Stay updated with trends and analysis for strategic decisions." />
  {% endblock %}
  {% block meta_url %}
      <meta property="og:url" content="{{ url('app_frontpage') }}" />  
      <link rel="canonical" href="{{ url('app_frontpage') }}" />
  {% endblock %}
  {% block meta_image %}
    <meta property="og:image" content="{{ absolute_url(asset('/_astro/market-research-indonesia-logo-black.BHyusSTD_gPJAU.svg')) }}" />
    <meta property="og:image:secure_url" content="{{ absolute_url(asset('/_astro/market-research-indonesia-logo-black.BHyusSTD_gPJAU.svg')) }}" />
    <meta property="og:image:width" content="178" />
    <meta property="og:image:height" content="50" />  
    <meta name="twitter:image" content="{{ absolute_url(asset('/_astro/market-research-indonesia-logo-black.BHyusSTD_gPJAU.svg')) }}" />
  {% endblock %}
  {% block others_meta %}{% endblock %}
  {#<script async src="//www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>#}
  {% if app.environment == 'prod' %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WPZVR4FSS4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WPZVR4FSS4');
    </script>
  {% endif %}
	{% block javascripts %} 
    {% block importmap %}{{ importmap('main') }}{% endblock %} 
  {% endblock %} 
	<style>[data-astro-image]{width:100%;height:auto;-o-object-fit:var(--fit);object-fit:var(--fit);-o-object-position:var(--pos);object-position:var(--pos);aspect-ratio:var(--w) / var(--h)}[data-astro-image=responsive]{max-width:calc(var(--w) * 1px);max-height:calc(var(--h) * 1px)}[data-astro-image=fixed]{width:calc(var(--w) * 1px);height:calc(var(--h) * 1px)}</style>
	<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Market Research Indonesia Consulting Firm",
        "url": "https://marketresearchindonesia.com/",
        "logo": "{{ absolute_url(asset('/_astro/market-research-indonesia-logo-black.BHyusSTD_gPJAU.svg')) }}",
        "contactPoint": {
            "@type": "PostalAddress",
            "telephone": "+62895616833031",
            "contactType": "Technical Support"
        }
    }
  </script>
  {% block inline_stylesheets %}{% endblock %}
  </head>
  <body>
	<header x-data="{
    subMenuIsOpen: false,
    scrollPos: null,
    isScrolled: false,
    scrolledUp: false,
    }" x-init="$watch('scrollPos', function(currentPos, prevPos) {
    scrolledUp = (prevPos > currentPos) ? false : (window.scrollY >= 300)
    isScrolled = window.scrollY > 1
    })">
    <div class="w-full fixed top-0 z-50 border-b nav-transition duration-300 ease-out bg-white text-big-stone-950 border-big-stone-950/10" :class="{'-translate-y-full': scrolledUp}" @scroll.window="scrollPos = window.scrollY">
        <div class="container py-4 flex justify-between items-center gap-4">
          <div> 
              <a href="/" aria-label="Eurogroup Consulting"> 
              <img src="{{ asset('/_astro/market-research-indonesia-logo-black.BHyusSTD_gPJAU.svg') }}" alt="Market Research" decoding="async" fetchpriority="auto" width="145" height="50" class="w-auto h-10 lg:h-[50px]">
              </a> 
          </div>
          <nav>
              <div class="block lg:hidden" x-data="{ open: false, openedWithKeyboard: false }">
                <div class="relative" @keydown.esc.window="subMenuIsOpen = false, openedWithKeyboard = false">
                    <button type="button" @click="subMenuIsOpen = ! subMenuIsOpen" aria-haspopup="true" @keydown.space.prevent="openedWithKeyboard = true" @keydown.enter.prevent="openedWithKeyboard = true" @keydown.down.prevent="openedWithKeyboard = true" :aria-expanded="subMenuIsOpen || openedWithKeyboard"> <i data-lucide="menu" data-size="30" class="scrollPos || subMenuIsOpen ? ' text-big-stone-950' : 'text-white'"></i> </button> 
                    <div x-cloak x-show="subMenuIsOpen || openedWithKeyboard" x-transition x-trap.noscroll="subMenuIsOpen || openedWithKeyboard" x-trap="openedWithKeyboard" @click.outside="subMenuIsOpen = false, openedWithKeyboard = false" @keydown.down.prevent="$focus.wrap().next()" @keydown.up.prevent="$focus.wrap().previous()" class="absolute top-[48px] -right-4 flex w-dvw overflow-y-scroll min-h-[calc(100dvh-72px)] h-full flex-col overflow-hidden border border-big-stone-950/10 bg-white p-4 gap-3" role="menu">  
                    <a href="/" class="text-base font-normal text-black hover:text-picton-blue-500">Home</a>  
                    <a href="/about-us" class="text-base font-normal text-black hover:text-picton-blue-500">About</a>  
                    <a href="/sectors" class="text-base font-normal text-black hover:text-picton-blue-500">Sectors</a> 
                    <div class="ml-3 flex flex-col gap-2"> 
                      <a href="/sectors/construction" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Construction </a>
                      <a href="/sectors/healthcare" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Healthcare </a>
                      <a href="/sectors/energy" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Energy </a>
                      <a href="/sectors/logistics" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Supply Chain &amp; Logistics </a>
                      <a href="/sectors/transport-mobility" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Transport &amp; Mobility </a>
                      <a href="/sectors/consumer-goods" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Consumer Goods </a> 
                    </div>
                    <a href="/services" class="text-base font-normal text-black hover:text-picton-blue-500">Our Services</a> 
                    <div class="ml-3 flex flex-col gap-2"> 
                      <a href="/services/market-research" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Market Research </a>
                      <a href="/services/strategic-planning" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Strategic Planning </a>
                      <a href="/services/market-entry-strategy" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Market Entry Strategy </a>
                      <a href="/services/mergers-and-acquisitions" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Mergers and Acquisitions </a>
                      <a href="/services/value-chain-analysis" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Value Chain Analysis </a>
                      <a href="/services/competitive-benchmarking" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Competitive Benchmarking </a>
                      <a href="/services/distribution-strategic-partnership" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Distribution &amp; Strategic Partnership </a>
                      <a href="/services/consumer-behavior-analysis" class="text-sm font-normal text-gray-600 hover:text-picton-blue-500">Consumer Behavior Analysis </a> 
                    </div>
                    <a href="/case-studies" class="text-base font-normal text-black hover:text-picton-blue-500">Case Studies</a> 
                    <a href="/insights" class="text-base font-normal text-black hover:text-picton-blue-500">Insights</a> 
                    <a href="/contact-us" class="text-base font-normal text-black hover:text-picton-blue-500">Contact Us</a>  
                </div>
              </div>
            </div>
            <ul class="hidden lg:flex items-center justify-center w-full text-center gap-8"> 
              <li> <a href="/" class="font-medium hover:text-picton-blue-500 duration-300 ease-out h-full"> Home </a> </li>
              <li> <a href="/about-us" class="font-medium hover:text-picton-blue-500 duration-300 ease-out h-full"> About </a> </li>
              <div x-data="{ isOpen: false, openedWithKeyboard: false, leaveTimeout: null }" @mouseleave.prevent="leaveTimeout = setTimeout(() => { isOpen = false }, 0)" @mouseenter="leaveTimeout ? clearTimeout(leaveTimeout) : true" @keydown.esc.prevent="isOpen = false, openedWithKeyboard = false" @click.outside="isOpen = false, openedWithKeyboard = false" class="relative">  
                <button type="button" @mouseover="isOpen = true" @keydown.space.prevent="openedWithKeyboard = true" @keydown.enter.prevent="openedWithKeyboard = true" @keydown.down.prevent="openedWithKeyboard = true" class="inline-flex gap-2 h-12 items-center font-medium hover:text-picton-blue-500 cursor-pointer" :class="isOpen || openedWithKeyboard ? 'text-picton-blue-500' : ''" :aria-expanded="isOpen || openedWithKeyboard" aria-haspopup="true"> 
                  <a href="/sectors" class="">Sectors</a> <i data-lucide="chevron-down" class="size-4"></i> 
                </button>  
                <div x-cloak x-show="isOpen || openedWithKeyboard" x-transition x-trap="openedWithKeyboard" @click.outside="isOpen = false, openedWithKeyboard = false" @keydown.down.prevent="$focus.wrap().next()" @keydown.up.prevent="$focus.wrap().previous()" class="absolute top-7 left-0 pt-[36px]" role="menu"> 
                  <div class="flex items-start text-left gap-2 w-full min-w-80 flex-col overflow-hidden border border-big-stone-950/10 bg-white p-4"> 
                    <a href="/sectors/construction" class="hover:text-picton-blue-500 duration-300 ease-out">Construction</a>
                    <a href="/sectors/healthcare" class="hover:text-picton-blue-500 duration-300 ease-out">Healthcare</a>
                    <a href="/sectors/energy" class="hover:text-picton-blue-500 duration-300 ease-out">Energy</a>
                    <a href="/sectors/logistics" class="hover:text-picton-blue-500 duration-300 ease-out">Supply Chain &amp; Logistics</a>
                    <a href="/sectors/transport-mobility" class="hover:text-picton-blue-500 duration-300 ease-out">Transport &amp; Mobility</a>
                    <a href="/sectors/consumer-goods" class="hover:text-picton-blue-500 duration-300 ease-out">Consumer Goods</a> 
                  </div> 
                </div>
              </div>
              <div x-data="{ isOpen: false, openedWithKeyboard: false, leaveTimeout: null }" @mouseleave.prevent="leaveTimeout = setTimeout(() => { isOpen = false }, 0)" @mouseenter="leaveTimeout ? clearTimeout(leaveTimeout) : true" @keydown.esc.prevent="isOpen = false, openedWithKeyboard = false" @click.outside="isOpen = false, openedWithKeyboard = false" class="relative">  
                <button type="button" @mouseover="isOpen = true" @keydown.space.prevent="openedWithKeyboard = true" @keydown.enter.prevent="openedWithKeyboard = true" @keydown.down.prevent="openedWithKeyboard = true" class="inline-flex gap-2 h-12 items-center font-medium hover:text-picton-blue-500 cursor-pointer" :class="isOpen || openedWithKeyboard ? 'text-picton-blue-500' : ''" :aria-expanded="isOpen || openedWithKeyboard" aria-haspopup="true"> 
                  <a href="/services" class="">Our Services</a> <i data-lucide="chevron-down" class="size-4"></i> 
                </button>  
                <div x-cloak x-show="isOpen || openedWithKeyboard" x-transition x-trap="openedWithKeyboard" @click.outside="isOpen = false, openedWithKeyboard = false" @keydown.down.prevent="$focus.wrap().next()" @keydown.up.prevent="$focus.wrap().previous()" class="absolute top-7 left-0 pt-[36px]" role="menu"> 
                  <div class="flex items-start text-left gap-2 w-full min-w-80 flex-col overflow-hidden border border-big-stone-950/10 bg-white p-4"> 
                    <a href="/services/market-research" class="hover:text-picton-blue-500 duration-300 ease-out">Market Research</a>
                    <a href="/services/strategic-planning" class="hover:text-picton-blue-500 duration-300 ease-out">Strategic Planning</a>
                    <a href="/services/market-entry-strategy" class="hover:text-picton-blue-500 duration-300 ease-out">Market Entry Strategy</a>
                    <a href="/services/mergers-and-acquisitions" class="hover:text-picton-blue-500 duration-300 ease-out">Mergers and Acquisitions</a>
                    <a href="/services/value-chain-analysis" class="hover:text-picton-blue-500 duration-300 ease-out">Value Chain Analysis</a>
                    <a href="/services/competitive-benchmarking" class="hover:text-picton-blue-500 duration-300 ease-out">Competitive Benchmarking</a>
                    <a href="/services/distribution-strategic-partnership" class="hover:text-picton-blue-500 duration-300 ease-out">Distribution &amp; Strategic Partnership</a>
                    <a href="/services/consumer-behavior-analysis" class="hover:text-picton-blue-500 duration-300 ease-out">Consumer Behavior Analysis</a> 
                  </div> 
                </div> 
              </div>
              <li> <a href="/case-studies" class="font-medium hover:text-picton-blue-500 duration-300 ease-out h-full"> Case Studies </a> </li>
              <li> <a href="/insights" class="font-medium hover:text-picton-blue-500 duration-300 ease-out h-full"> Insights </a> </li>
              <li> <a href="/contact-us" class="font-medium hover:text-picton-blue-500 duration-300 ease-out h-full"> Contact Us </a> </li> 
            </ul> 
          </nav> 
          <div class="hidden lg:block"> 
            <a href="/" aria-label="Eurogroup Consulting"> 
              <img src="/_astro/eurogroup-consulting-logo.BjwudJP1_Zy7RMQ.svg" alt="Eurogroup Consulting" decoding="async" fetchpriority="auto" width="49" height="48" class="w-auto h-[50px]"> 
            </a> 
          </div>
        </div> 
      </div> 
  </header>
	{% block header %}{% endblock %}
	 <main> 
		{% block content %}{% endblock %} 
		{% block contact_us %} 
			<section id="contact-us">
          <div class="bg-gradient-to-b from-[#022037] to-[#043459] relative">
              <div class="py-8 lg:py-14 relative z-10">
                  <div class="container">
                      <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 items-start justify-between">
                          <div class="lg:w-1/2 flex flex-col">
                              <div class="flex flex-col">
                                  <p class="text-white mb-2 uppercase text-xs tracking-[0.1em]"> <span class="text-picton-blue-500">/</span> Contact Us</p>
                                  <h2 class="heading-2 text-4xl lg:text-6xl text-white"> Speak to advisors with experience in the Indonesia market </h2>
                              </div>
                              {#<p class="mt-4 text-white text-base lg:text-xl"> Arrange a session with our experts to explore how Eurogroup Consulting can assist you in addressing your business challenges. </p>#}
                          </div>
                          <div class="lg:w-1/2 w-full">
                              <div class="w-full" x-data="formHandler('{{ app.request.uri }}')">
                                  <form @submit.prevent="validateForm" x-ref="form" class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 w-full" action="{{ path('app_inquiry_submit') }}">
                                      <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">First Name<span>*</span></label><input required x-model="formData.firstName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter First Name" name="firstName" aria-invalid="false" value=""> </div>
                                      <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Last Name<span>*</span></label><input required x-model="formData.lastName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter Last Name" name="lastName" aria-invalid="false" value=""> </div>
                                      <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Company Name<span>*</span></label><input required x-model="formData.companyName" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter Company Name" name="companyName" aria-invalid="false" value=""> </div>
                                      <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Job Title<span>*</span></label><input required x-model="formData.jobTitle" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter Job Title" name="jobTitle" aria-invalid="false" value=""> </div>
                                      <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Country<span>*</span></label><input required x-model="formData.country" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter Your Country" name="country" aria-invalid="false" value=""> </div>
                                      <div class="input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Phone Number<span>*</span></label><input required x-model="formData.phoneNumber" type="tel" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter Phone Number" name="phoneNumber" aria-invalid="false" value=""> </div>
                                      <div class="lg:col-span-2"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Email Address<span>*</span></label><input required x-model="formData.emailAddress" type="email" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" placeholder="Enter Email Address" name="emailAddress" aria-invalid="false" value=""> </div>
                                      <div class="lg:col-span-2 input-class"> <label class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm [&#38;_span]:text-picton-blue-500 text-white">Message<span>*</span></label><textarea required name="message" x-model="formData.message" class="flex h-auto w-full outline-none ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out border-white/60 focus-within:border-white text-white placeholder:text-white/60" role="textbox" rows="5" placeholder="Write Your Message Here..." aria-invalid="false">      </textarea> </div>
                                      <div class="lg:col-span-2"> <button class="group inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-white dark:focus-visible:ring-white dark:bg-white dark:text-white dark:hover:bg-white/90 h-10 px-4 py-2 bg-picton-blue-500 text-white text-sm gap-3 hover:bg-picton-blue-500/80 w-max" type="submit">Send Inquiry
                                          <i data-lucide="arrow-right" class="size-4 group-hover:translate-x-1 duration-200 ease-out"></i></button> 
                                      </div>
                                  </form>
                                  <div x-data="notification" x-on:notify.window="addNotification({variant: $event.detail.variant,sender: $event.detail.sender,title: $event.detail.title,message: $event.detail.message,})">
                                      <div x-on:mouseenter="$dispatch('pause-auto-dismiss')" x-on:mouseleave="$dispatch('resume-auto-dismiss')" class="group pointer-events-none fixed inset-x-8 top-0 z-[99] flex max-w-full flex-col gap-2 bg-transparent px-6 py-6 md:bottom-0 md:left-[unset] md:right-0 md:top-[unset] md:max-w-sm">
                                          <template x-for="(notification, index) in notifications" x-bind:key="notification.id">
                                              <!-- root div holds all of the notifications  --> 
                                              <div>
                                                  <!-- Success Notification  --> 
                                                  <template x-if="notification.variant === 'success'">
                                                      <div x-data="{ isVisible: false, timeout: null }" x-cloak x-show="isVisible" class="pointer-events-auto relative rounded-md border border-green-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300" role="alert" x-on:pause-auto-dismiss.window="clearTimeout(timeout)" x-on:resume-auto-dismiss.window=" timeout = setTimeout(() => {(isVisible = false), removeNotification(notification.id) }, displayDuration)" x-init="$nextTick(() => { isVisible = true }), (timeout = setTimeout(() => { isVisible = false, removeNotification(notification.id)}, displayDuration))" x-transition:enter="transition duration-300 ease-out" x-transition:enter-end="translate-y-0" x-transition:enter-start="translate-y-8" x-transition:leave="transition duration-300 ease-in" x-transition:leave-end="-translate-x-24 opacity-0 md:translate-x-24" x-transition:leave-start="translate-x-0 opacity-100">
                                                          <div class="flex w-full items-center gap-2.5 bg-green-500/10 rounded-md p-4 transition-all duration-300">
                                                              <!-- Title & Message --> 
                                                              <div class="flex flex-col gap-2">
                                                                  <h3 x-cloak x-show="notification.title" class="text-sm font-semibold text-green-500" x-text="notification.title"></h3>
                                                                  <p x-cloak x-show="notification.message" class="text-pretty text-sm" x-text="notification.message"></p>
                                                              </div>
                                                              <!--Dismiss Button --> <button type="button" class="ml-auto" aria-label="dismiss notification" x-on:click="(isVisible = false), removeNotification(notification.id)"></button> 
                                                          </div>
                                                      </div>
                                                  </template>
                                                  <!-- Danger Notification  --> 
                                                  <template x-if="notification.variant === 'danger'">
                                                      <div x-data="{ isVisible: false, timeout: null }" x-cloak x-show="isVisible" class="pointer-events-auto relative rounded-md border border-red-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300" role="alert" x-on:pause-auto-dismiss.window="clearTimeout(timeout)" x-on:resume-auto-dismiss.window=" timeout = setTimeout(() => {(isVisible = false), removeNotification(notification.id) }, displayDuration)" x-init="$nextTick(() => { isVisible = true }), (timeout = setTimeout(() => { isVisible = false, removeNotification(notification.id)}, displayDuration))" x-transition:enter="transition duration-300 ease-out" x-transition:enter-end="translate-y-0" x-transition:enter-start="translate-y-8" x-transition:leave="transition duration-300 ease-in" x-transition:leave-end="-translate-x-24 opacity-0 md:translate-x-24" x-transition:leave-start="translate-x-0 opacity-100">
                                                          <div class="flex w-full items-center gap-2.5 bg-red-500/10 rounded-md p-4 transition-all duration-300">
                                                              <!-- Title & Message --> 
                                                              <div class="flex flex-col gap-2">
                                                                  <h3 x-cloak x-show="notification.title" class="text-sm font-semibold text-red-500" x-text="notification.title"></h3>
                                                                  <p x-cloak x-show="notification.message" class="text-pretty text-sm" x-text="notification.message"></p>
                                                              </div>
                                                              <!--Dismiss Button --> 
                                                              <button type="button" class="ml-auto" aria-label="dismiss notification" x-on:click="(isVisible = false), removeNotification(notification.id)">
                                                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox=" 0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-5 shrink-0" aria-hidden="true">
                                                                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                                                  </svg>
                                                              </button>
                                                          </div>
                                                      </div>
                                                  </template>
                                              </div>
                                          </template>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
		{% endblock %} 
	</main>
	<footer>
      <div class="bg-big-stone-950">
        <div class="container py-8 lg:py-12">
          <div class="flex flex-col lg:flex-row gap-4 lg:gap-8 xl:gap-12">
            <div class="flex lg:flex-row gap-4 lg:gap-8 items-start">
              <svg class="w-24 lg:w-32 h-auto" width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.8263 6.37499C38.5369 6.97868 38.978 7.82874 39.0662 8.75555C39.1399 9.7242 38.9023 10.6575 38.2896 11.4269C37.7128 12.0971 36.968 12.5364 36.0884 12.6667C36.0143 12.6674 35.9403 12.6675 35.8662 12.6667C35.8663 12.7046 35.8664 12.7425 35.8666 12.7815C35.8695 13.706 35.8717 14.6305 35.8731 15.555C35.8738 16.0021 35.8747 16.4492 35.8762 16.8963C35.8776 17.2862 35.8784 17.6761 35.8787 18.066C35.8789 18.2723 35.8793 18.4785 35.8803 18.6847C35.8812 18.8793 35.8815 19.0739 35.8813 19.2685C35.8813 19.3395 35.8816 19.4104 35.8821 19.4814C35.8884 20.3919 35.6953 21.1962 35.062 21.8779C34.4296 22.4818 33.6201 22.6042 32.7818 22.5991C32.3381 22.5878 31.8974 22.5407 31.503 22.3217C31.3856 22.2558 31.3856 22.2558 31.287 22.2854C31.1597 22.3874 31.0584 22.5081 30.9551 22.6333C30.9073 22.6901 30.8596 22.7469 30.8118 22.8036C30.7876 22.8327 30.7634 22.8617 30.7384 22.8916C30.6274 23.024 30.5149 23.1551 30.4023 23.2861C30.3804 23.3116 30.3586 23.3371 30.3361 23.3634C30.1486 23.5822 29.9598 23.7998 29.771 24.0174C29.5422 24.2812 29.3149 24.5463 29.0879 24.8116C29.021 24.8897 28.954 24.9678 28.887 25.0458C28.8532 25.0853 28.8532 25.0853 28.8186 25.1255C28.7771 25.1739 28.7355 25.2223 28.6939 25.2708C28.6527 25.3187 28.6125 25.3676 28.5731 25.417C28.4884 25.5111 28.4884 25.5111 28.3693 25.6036C28.0545 25.8857 27.9696 26.1329 27.9447 26.5539C27.9354 26.8433 27.9371 27.1324 27.941 27.4219C27.9428 27.5972 27.9418 27.7725 27.9412 27.9479C27.9403 28.2791 27.942 28.6102 27.9445 28.9414C27.9473 29.3187 27.9473 29.6961 27.9471 30.0735C27.9467 30.849 27.9497 31.6245 27.9551 32.4C27.7912 32.4104 27.6275 32.4167 27.4634 32.4222C27.4173 32.4252 27.3711 32.4282 27.3236 32.4312C26.9851 32.4398 26.9851 32.4398 26.8348 32.3251C26.7555 32.2351 26.688 32.1443 26.6217 32.0444C26.5792 31.9886 26.5365 31.933 26.4934 31.8776C26.4518 31.8213 26.4103 31.7648 26.369 31.7083C26.1912 31.4683 26.0097 31.2322 25.8217 31C25.6155 30.7449 25.4173 30.4847 25.2217 30.2213C25.0703 30.0182 24.9144 29.8193 24.7551 29.6222C24.5491 29.3674 24.3511 29.1076 24.1559 28.8445C23.9762 28.6035 23.79 28.3683 23.5999 28.1354C23.5791 28.1099 23.5584 28.0843 23.537 28.058C23.519 28.036 23.501 28.014 23.4824 27.9913C23.3978 27.8794 23.3218 27.7612 23.244 27.6444C23.2293 32.4698 23.2146 37.2951 23.1995 42.2667C22.7889 42.2667 22.3782 42.2667 21.9551 42.2667C21.9551 36.7373 21.9551 31.208 21.9551 25.5111C23.1551 25.5111 23.1551 25.5111 23.4134 25.75C23.4684 25.8334 23.4684 25.8334 23.5032 25.9094C23.6124 26.1238 23.7603 26.302 23.9106 26.4889C23.9645 26.5578 24.0182 26.6267 24.0717 26.6958C24.1102 26.7453 24.1102 26.7453 24.1495 26.7958C24.2835 26.9685 24.4164 27.1419 24.5495 27.3153C24.6914 27.4997 24.8344 27.6831 24.9773 27.8667C25.1911 28.1413 25.404 28.4165 25.6158 28.6927C25.7054 28.8091 25.7956 28.9249 25.886 29.0406C25.913 29.0752 25.9401 29.1099 25.9679 29.1456C26.0203 29.2126 26.0727 29.2795 26.1252 29.3464C26.2678 29.529 26.4065 29.7139 26.5426 29.9015C26.5742 29.9451 26.6058 29.9886 26.6383 30.0335C26.6622 30.0664 26.686 30.0994 26.7106 30.1333C26.7103 30.0758 26.71 30.0184 26.7096 29.9592C26.7068 29.4164 26.706 28.8737 26.7073 28.331C26.7079 28.052 26.7078 27.773 26.7059 27.494C26.7042 27.2245 26.7044 26.9551 26.7059 26.6857C26.7062 26.5831 26.7057 26.4805 26.7046 26.3779C26.695 25.4729 26.695 25.4729 26.9463 25.1923C27.0151 25.1346 27.0846 25.0779 27.1551 25.0222C27.2197 24.9468 27.2829 24.87 27.344 24.7917C27.5042 24.5938 27.6686 24.4003 27.8356 24.2083C27.8601 24.1802 27.8846 24.152 27.9099 24.123C27.9596 24.0658 28.0093 24.0087 28.0591 23.9515C28.3311 23.6385 28.6022 23.3249 28.8634 23.0028C29.0455 22.7785 29.234 22.5605 29.4236 22.3426C29.5882 22.1536 29.7515 21.9636 29.9134 21.7722C29.933 21.7491 29.9526 21.726 29.9728 21.7022C30.0264 21.6387 30.0796 21.5749 30.1329 21.5111C30.1677 21.4733 30.2025 21.4355 30.2384 21.3965C30.3216 21.2963 30.3216 21.2963 30.3035 21.1871C30.2903 21.1529 30.277 21.1186 30.2634 21.0833C30.2497 21.0448 30.236 21.0063 30.2219 20.9667C30.2072 20.9263 30.1925 20.886 30.1773 20.8444C30.1523 20.7614 30.1282 20.678 30.1051 20.5944C30.0944 20.5572 30.0838 20.52 30.0728 20.4816C30.0022 20.1731 29.9932 19.8706 29.9945 19.5557C29.9945 19.5128 29.9945 19.4698 29.9945 19.4255C29.9945 19.2846 29.9948 19.1437 29.9952 19.0028C29.9953 18.9046 29.9953 18.8065 29.9954 18.7083C29.9955 18.4509 29.996 18.1934 29.9965 17.9359C29.9969 17.6728 29.9971 17.4098 29.9974 17.1467C29.9978 16.6311 29.9986 16.1156 29.9995 15.6C30.4102 15.6 30.8209 15.6 31.244 15.6C31.2449 15.7897 31.2449 15.7897 31.2459 15.9832C31.2482 16.4026 31.2511 16.8219 31.2544 17.2413C31.2564 17.4953 31.2582 17.7494 31.2594 18.0035C31.2605 18.249 31.2623 18.4946 31.2646 18.7401C31.2653 18.8334 31.2658 18.9268 31.2661 19.0201C31.2654 20.0426 31.2654 20.0426 31.7217 20.9349C32.1069 21.3006 32.577 21.393 33.0922 21.3871C33.5317 21.36 33.8948 21.2105 34.2106 20.9017C34.5939 20.4475 34.6036 19.8574 34.6016 19.2934C34.602 19.2198 34.6024 19.1461 34.603 19.0725C34.6042 18.8744 34.6043 18.6762 34.6043 18.4781C34.6044 18.2704 34.6056 18.0627 34.6066 17.8549C34.6084 17.4624 34.6093 17.0699 34.6099 16.6773C34.6106 16.2301 34.6123 15.7828 34.6141 15.3356C34.6178 14.4163 34.6202 13.497 34.6217 12.5778C34.5335 12.5675 34.4452 12.5573 34.3569 12.547C33.7101 12.4495 33.0397 11.9175 32.6464 11.4174C32.0165 10.5509 31.785 9.57382 31.9254 8.51023C31.9636 8.30513 32.0217 8.10887 32.0884 7.9111C32.1077 7.85009 32.1077 7.85009 32.1273 7.78784C32.4203 6.95849 33.1062 6.29656 33.8856 5.91944C35.1827 5.3706 36.7024 5.49175 37.8263 6.37499ZM33.7474 7.51562C33.2928 8.08162 33.1467 8.7562 33.1995 9.46666C33.2795 10.0913 33.5735 10.6504 34.0516 11.0606C34.6169 11.492 35.2202 11.5826 35.9106 11.5111C36.4121 11.4238 36.8161 11.1778 37.1551 10.8C37.1908 10.7624 37.2266 10.7248 37.2634 10.6861C37.6871 10.1581 37.8295 9.47905 37.758 8.81666C37.6798 8.35075 37.5205 7.98193 37.244 7.59999C37.1931 7.52849 37.1931 7.52849 37.1412 7.45555C36.6957 6.99968 36.1217 6.7535 35.4884 6.74166C34.7957 6.74023 34.223 7.01758 33.7474 7.51562Z" fill="#00A9E0"></path>
                <path d="M13.6448 15.6444C14.11 15.6413 14.5752 15.639 15.0404 15.6375C15.2565 15.6368 15.4725 15.6359 15.6886 15.6344C15.8975 15.6329 16.1065 15.6321 16.3154 15.6318C16.3947 15.6315 16.474 15.6311 16.5532 15.6303C17.3915 15.623 18.1195 15.7355 18.7505 16.3434C19.1688 16.7917 19.2721 17.3441 19.2658 17.9413C19.2444 18.5547 18.9945 19.0452 18.5554 19.4698C18.3246 19.6488 17.9853 19.8667 17.6893 19.8667C17.9626 20.2728 18.2368 20.6773 18.5337 21.0667C18.7351 21.3314 18.9284 21.601 19.117 21.875C19.1418 21.9107 19.1665 21.9463 19.192 21.9831C19.2151 22.0168 19.2381 22.0505 19.2618 22.0852C19.2822 22.1149 19.3025 22.1446 19.3235 22.1752C19.3839 22.2763 19.426 22.3786 19.467 22.4889C18.228 22.629 18.228 22.629 17.8784 22.4138C17.6807 22.2139 17.5591 21.9717 17.4387 21.7199C17.3459 21.5361 17.226 21.3756 17.1032 21.2111C16.9442 20.9981 16.8144 20.799 16.7199 20.5494C16.6364 20.3964 16.6364 20.3964 16.3559 20.1333C15.8719 20.1187 15.3879 20.104 14.8893 20.0889C14.9039 21.9809 14.9186 23.8729 14.9337 25.8222C15.1757 25.7122 15.1757 25.7122 15.4226 25.6C15.5679 25.5507 15.5679 25.5507 15.6809 25.5222C15.7188 25.5124 15.7567 25.5025 15.7957 25.4923C16.8137 25.2665 17.8217 25.4261 18.7115 25.9555C18.8376 26.0373 18.9528 26.1248 19.067 26.2222C19.0921 26.241 19.1172 26.2598 19.1431 26.2792C19.7415 26.7449 20.1316 27.5533 20.2538 28.2914C20.3805 29.3322 20.2085 30.3377 19.5559 31.1778C19.4976 31.2452 19.4384 31.312 19.3782 31.3778C19.3519 31.4081 19.3257 31.4384 19.2986 31.4696C18.7368 32.0804 17.8961 32.4385 17.0756 32.4979C16.9494 32.5023 16.8238 32.5035 16.6976 32.5028C16.6529 32.5025 16.6082 32.5023 16.5622 32.502C15.7936 32.4895 15.0467 32.2685 14.4448 31.7778C14.3895 31.7332 14.3895 31.7332 14.333 31.6878C13.6113 31.0746 13.2249 30.2646 13.1115 29.3333C13.0759 28.6549 13.1058 27.8039 13.5362 27.2433C13.6315 27.0471 13.6192 26.8645 13.6181 26.6491C13.6184 26.602 13.6187 26.555 13.619 26.5066C13.6198 26.3488 13.6197 26.191 13.6196 26.0333C13.62 25.9203 13.6205 25.8073 13.621 25.6943C13.6219 25.4508 13.6225 25.2074 13.6227 24.964C13.623 24.6121 13.624 24.2602 13.6252 23.9082C13.6271 23.3372 13.6285 22.7662 13.6294 22.1952C13.6304 21.6406 13.6316 21.086 13.6332 20.5313C13.6333 20.4971 13.6333 20.4629 13.6335 20.4277C13.6339 20.2562 13.6344 20.0846 13.6349 19.9131C13.6391 18.4902 13.6423 17.0673 13.6448 15.6444ZM14.8893 16.7555C14.8893 17.5035 14.8893 18.2515 14.8893 19.0222C15.3375 19.025 15.3375 19.025 15.7948 19.0278C15.8882 19.0286 15.9816 19.0294 16.0779 19.0302C16.1533 19.0305 16.2288 19.0307 16.3042 19.0309C16.3422 19.0313 16.3803 19.0318 16.4194 19.0323C16.8846 19.0324 17.3245 18.9612 17.6809 18.6444C17.713 18.6078 17.7451 18.5711 17.7782 18.5333C17.8029 18.5058 17.8277 18.4783 17.8532 18.45C18.0119 18.193 18.0439 17.8917 17.9813 17.5998C17.8899 17.3117 17.7135 17.0643 17.4462 16.9175C17.0956 16.7713 16.7666 16.7491 16.391 16.7512C16.3528 16.7512 16.3147 16.7513 16.2753 16.7513C16.1337 16.7516 15.992 16.7522 15.8504 16.7528C15.3746 16.7541 15.3746 16.7541 14.8893 16.7555ZM15.0226 27.2889C15.0013 27.3105 14.98 27.3322 14.958 27.3545C14.559 27.7797 14.4067 28.3784 14.3809 28.95C14.4041 29.6328 14.6655 30.2496 15.1351 30.7427C15.6031 31.1767 16.1722 31.3628 16.8046 31.3543C17.4508 31.3254 17.9898 31.035 18.4302 30.5731C18.8651 30.0324 19.0373 29.3509 18.9782 28.6667C18.878 27.9649 18.5569 27.4118 18.0087 26.9639C17.0797 26.3059 15.78 26.4473 15.0226 27.2889Z" fill="#ffffff"></path>
                <path d="M24.5782 5.73334C28.95 5.73334 28.95 5.73334 29.6777 6.42448C30.1397 6.92477 30.2082 7.49255 30.1909 8.14688C30.168 8.63248 29.9601 9.12942 29.6004 9.46667C29.3288 9.68431 28.985 9.95556 28.6226 9.95556C28.7968 10.2449 28.985 10.5176 29.1893 10.7861C29.393 11.054 29.5879 11.3263 29.7769 11.6048C29.9357 11.8387 30.0995 12.0685 30.2673 12.296C30.4004 12.4792 30.4004 12.4792 30.4004 12.5778C29.1607 12.7032 29.1607 12.7032 28.8176 12.5136C28.6326 12.3398 28.5253 12.1222 28.4166 11.8957C28.311 11.6903 28.1723 11.5084 28.0365 11.3222C27.7146 10.8806 27.7146 10.8806 27.6176 10.6146C27.5448 10.4828 27.5448 10.4828 27.2893 10.2667C26.8053 10.252 26.3213 10.2373 25.8226 10.2222C25.8226 12.0409 25.8226 13.8596 25.8226 15.7333C25.9546 15.7773 26.0866 15.8213 26.2226 15.8667C27.0057 16.2434 27.6137 16.9215 27.9115 17.7333C28.0174 18.0519 28.1195 18.374 28.1337 18.7111C28.136 18.7588 28.1383 18.8066 28.1407 18.8557C28.166 19.8655 27.8524 20.8228 27.1541 21.5675C26.5058 22.2233 25.6353 22.5812 24.7158 22.5947C23.7486 22.5929 22.8701 22.4045 22.1337 21.7333C22.0974 21.701 22.061 21.6687 22.0235 21.6354C21.3828 21.0344 21.0028 20.197 20.9655 19.3205C20.9393 18.2349 21.2237 17.3109 21.9799 16.5056C22.485 16.0181 23.0929 15.7028 23.7782 15.5556C23.8213 15.5455 23.8644 15.5354 23.9087 15.525C24.1308 15.5023 24.355 15.5111 24.5782 15.5111C24.5782 12.2844 24.5782 9.05778 24.5782 5.73334ZM25.8226 6.84445C25.8226 7.59245 25.8226 8.34045 25.8226 9.11112C26.2998 9.11662 26.2998 9.11662 26.7865 9.12223C26.8857 9.12384 26.9848 9.12546 27.087 9.12713C27.6324 9.13235 28.1467 9.13518 28.6032 8.79445C28.8294 8.5706 28.9394 8.29151 28.9532 7.975C28.934 7.6348 28.8368 7.36587 28.5824 7.13351C28.2033 6.86121 27.7745 6.8376 27.3244 6.84011C27.2862 6.84015 27.248 6.8402 27.2087 6.84024C27.067 6.84048 26.9254 6.8411 26.7837 6.84167C26.308 6.84305 26.308 6.84305 25.8226 6.84445ZM22.8893 17.3333C22.3754 17.9671 22.2105 18.6208 22.2671 19.4222C22.3406 19.9884 22.6294 20.5686 23.0811 20.9259C23.546 21.263 23.9723 21.4402 24.5504 21.4361C24.5877 21.4359 24.6249 21.4356 24.6633 21.4354C24.9358 21.43 25.1724 21.4032 25.4226 21.2889C25.4621 21.2715 25.5015 21.2542 25.5421 21.2363C26.0731 20.976 26.4594 20.5447 26.6766 19.9972C26.9085 19.3107 26.8846 18.6381 26.6079 17.9677C26.2822 17.3285 25.7881 16.9427 25.1115 16.7111C24.3174 16.5071 23.4694 16.7661 22.8893 17.3333Z" fill="#ffffff"></path>
                <path d="M9.55531 5.73334C11.2273 5.73334 12.8993 5.73334 14.622 5.73334C14.622 6.1 14.622 6.46667 14.622 6.84445C13.346 6.84445 12.07 6.84445 10.7553 6.84445C10.7553 7.41645 10.7553 7.98845 10.7553 8.57778C11.8846 8.57778 13.014 8.57778 14.1775 8.57778C14.1775 8.94445 14.1775 9.31112 14.1775 9.68889C13.0482 9.68889 11.9189 9.68889 10.7553 9.68889C10.7553 10.2756 10.7553 10.8622 10.7553 11.4667C12.046 11.4667 13.3366 11.4667 14.6664 11.4667C14.6664 12.6222 14.6664 12.6222 14.4914 12.8861C14.4172 12.9473 14.3422 13.0075 14.2664 13.0667C14.1978 13.1465 14.1312 13.2281 14.0664 13.3111C13.906 13.5095 13.7382 13.699 13.5664 13.8875C13.4629 14.0039 13.3644 14.1233 13.2664 14.2444C13.106 14.4428 12.9382 14.6323 12.7664 14.8208C12.6629 14.9373 12.5644 15.0567 12.4664 15.1778C12.306 15.3761 12.1382 15.5657 11.9664 15.7542C11.8629 15.8706 11.7644 15.99 11.6664 16.1111C11.5063 16.3091 11.339 16.4983 11.1673 16.6863C11.0244 16.8474 10.8907 17.0156 10.7572 17.1846C10.6737 17.2805 10.5934 17.3509 10.4886 17.4222C10.466 17.4029 10.4433 17.3835 10.4199 17.3635C9.81478 16.8679 9.13835 16.6437 8.35531 16.7111C7.79367 16.8105 7.28492 17.0788 6.9442 17.5444C6.51254 18.2045 6.38877 18.9107 6.51764 19.6854C6.67207 20.2819 6.97486 20.7793 7.49142 21.1194C8.10803 21.4658 8.78738 21.5142 9.46365 21.3472C9.70078 21.2765 9.91836 21.188 10.1352 21.0689C10.222 21.0222 10.222 21.0222 10.3553 20.9778C10.3553 20.5671 10.3553 20.1564 10.3553 19.7333C9.78331 19.7333 9.21131 19.7333 8.62198 19.7333C8.62198 19.3667 8.62198 19 8.62198 18.6222C9.58998 18.6222 10.558 18.6222 11.5553 18.6222C11.5663 19.098 11.5773 19.5737 11.5886 20.0639C11.5959 20.2881 11.5959 20.2881 11.6034 20.5169C11.6049 20.6362 11.6063 20.7555 11.6074 20.8748C11.6088 20.9053 11.6102 20.9358 11.6116 20.9673C11.6334 21.4698 11.6334 21.4698 11.4395 21.6828C11.309 21.7887 11.1686 21.8735 11.022 21.9556C10.9878 21.9761 10.9537 21.9966 10.9185 22.0178C10.8397 22.0643 10.7601 22.105 10.6775 22.1444C10.6482 22.1588 10.6188 22.1732 10.5886 22.1879C9.6562 22.6288 8.48599 22.7665 7.4916 22.4618C6.60499 22.1161 5.88928 21.5857 5.46076 20.7107C5.07508 19.8304 5.00003 18.7302 5.33309 17.8222C5.50934 17.3852 5.74415 16.9862 6.0442 16.6222C6.06666 16.5947 6.08912 16.5672 6.11226 16.5389C6.6787 15.9146 7.54813 15.5604 8.3756 15.5036C8.84655 15.4825 9.29319 15.5088 9.7534 15.6109C9.80537 15.622 9.85733 15.6331 9.91087 15.6444C9.94017 15.6526 9.96947 15.6608 9.99966 15.6693C10.1037 15.6963 10.1037 15.6963 10.2664 15.6889C10.386 15.6081 10.4657 15.503 10.5525 15.3889C10.5899 15.3428 10.5899 15.3428 10.6281 15.2957C10.7011 15.2053 10.7727 15.1139 10.8442 15.0222C10.9107 14.9406 10.9773 14.8591 11.0442 14.7778C11.0754 14.7393 11.1065 14.7008 11.1386 14.6611C11.2675 14.5051 11.4001 14.3525 11.5331 14.2C11.7325 13.9713 11.9273 13.7399 12.1182 13.504C12.2685 13.3213 12.4231 13.1423 12.5782 12.9636C12.674 12.8528 12.7628 12.7443 12.8442 12.6222C11.7589 12.6076 10.6735 12.5929 9.55531 12.5778C9.55531 10.3191 9.55531 8.06045 9.55531 5.73334Z" fill="#ffffff"></path>
                <path d="M36.5776 25.5111C36.9882 25.5111 37.3989 25.5111 37.822 25.5111C37.8224 25.6414 37.8228 25.7716 37.8233 25.9058C37.8248 26.338 37.8272 26.7701 37.8302 27.2022C37.8319 27.464 37.8334 27.7258 37.8341 27.9876C37.8347 28.2407 37.8363 28.4937 37.8384 28.7467C37.839 28.8428 37.8394 28.939 37.8394 29.0352C37.8344 30.0147 37.8344 30.0147 38.3109 30.8444C38.6941 31.2192 39.1239 31.3014 39.643 31.2957C40.0913 31.2731 40.4662 31.1262 40.776 30.7967C41.1086 30.3795 41.161 29.8701 41.1645 29.3549C41.1649 29.3136 41.1653 29.2724 41.1658 29.2299C41.1672 29.0946 41.1683 28.9592 41.1694 28.8238C41.1703 28.7296 41.1713 28.6353 41.1722 28.5411C41.1747 28.2938 41.1769 28.0465 41.179 27.7992C41.1812 27.5465 41.1837 27.2939 41.1862 27.0412C41.1909 26.546 41.1954 26.0508 41.1998 25.5556C41.6105 25.5556 42.0211 25.5556 42.4442 25.5556C42.4462 26.0888 42.4479 26.622 42.4488 27.1552C42.4493 27.4028 42.4499 27.6505 42.4509 27.8981C42.4519 28.1376 42.4524 28.377 42.4527 28.6165C42.4528 28.7074 42.4531 28.7983 42.4536 28.8891C42.459 29.9453 42.3946 30.9517 41.6359 31.7667C41.3391 32.0465 41.0171 32.2383 40.6225 32.34C40.1754 32.456 39.9653 32.6619 39.6887 33.0222C39.6203 33.1057 39.5518 33.189 39.4831 33.2722C39.4509 33.3122 39.4187 33.3522 39.3856 33.3934C39.2897 33.5099 39.1903 33.6218 39.0887 33.7333C38.9511 33.8843 38.8197 34.0383 38.6915 34.1972C38.5539 34.3673 38.4119 34.5308 38.2637 34.6917C38.0608 34.912 37.8724 35.1413 37.6887 35.3778C37.7363 35.3952 37.784 35.4126 37.8331 35.4306C37.9035 35.4573 37.9739 35.4842 38.0442 35.5111C38.085 35.5262 38.1258 35.5414 38.1678 35.5569C38.5837 35.7189 38.9346 35.9533 39.2887 36.2222C39.2187 36.3812 39.1217 36.5029 39.0109 36.6361C38.9754 36.6788 38.94 36.7216 38.9034 36.7656C38.781 36.9113 38.6578 37.0562 38.5331 37.2C38.3905 37.133 38.2638 37.0516 38.1331 36.9639C37.4877 36.5495 36.7808 36.4195 36.0248 36.5621C35.9051 36.6029 35.7996 36.6506 35.6887 36.7111C35.6479 36.7322 35.6071 36.7533 35.5651 36.775C35.0285 37.0816 34.7142 37.5576 34.5347 38.1389C34.3534 38.8338 34.4257 39.5739 34.7762 40.2087C35.1336 40.7467 35.5992 41.0465 36.222 41.2C36.8297 41.312 37.4473 41.2025 37.9998 40.9333C38.0484 40.9147 38.0971 40.896 38.1472 40.8767C38.3514 40.6693 38.3058 40.4008 38.3053 40.1222C38.3072 39.9206 38.309 39.7189 38.3109 39.5111C37.7389 39.5111 37.1669 39.5111 36.5776 39.5111C36.5776 39.1591 36.5776 38.8071 36.5776 38.4444C37.5456 38.4444 38.5136 38.4444 39.5109 38.4444C39.5301 39.1567 39.5301 39.1567 39.5498 39.8833C39.5555 40.0324 39.5611 40.1815 39.567 40.3351C39.5892 41.3289 39.5892 41.3289 39.3827 41.5635C39.2321 41.6891 39.0719 41.7552 38.8887 41.8222C38.8212 41.8596 38.754 41.8978 38.6876 41.9371C38.631 41.9645 38.5739 41.991 38.5165 42.0167C38.4854 42.0309 38.4543 42.0452 38.4223 42.0599C37.4128 42.5051 36.2003 42.5438 35.1692 42.15C34.3656 41.8199 33.7288 41.1944 33.3852 40.3969C32.9876 39.4124 32.9939 38.3295 33.3974 37.3458C33.8013 36.4932 34.4578 35.8433 35.3498 35.5167C35.5018 35.4657 35.6504 35.4208 35.8067 35.3849C35.9793 35.325 36.0314 35.2703 36.1387 35.125C36.1724 35.0812 36.2061 35.0373 36.2408 34.9922C36.259 34.9684 36.2771 34.9446 36.2959 34.92C36.4051 34.7812 36.5223 34.6494 36.6387 34.5167C36.841 34.2845 37.0414 34.051 37.2398 33.8155C37.3902 33.6372 37.5421 33.4601 37.6942 33.2833C37.8926 33.0527 38.0868 32.8193 38.2779 32.5826C38.3553 32.4889 38.3553 32.4889 38.4442 32.4C38.3959 32.38 38.3475 32.36 38.2977 32.3394C37.5894 32.0346 37.1225 31.644 36.7998 30.9333C36.6367 30.4988 36.5708 30.0997 36.5725 29.6384C36.5725 29.5937 36.5725 29.549 36.5725 29.503C36.5725 29.3558 36.5729 29.2086 36.5732 29.0615C36.5733 28.9592 36.5734 28.8569 36.5734 28.7547C36.5736 28.486 36.574 28.2172 36.5745 27.9485C36.575 27.6741 36.5752 27.3997 36.5754 27.1253C36.5759 26.5873 36.5767 26.0492 36.5776 25.5111Z" fill="#ffffff"></path>
                <path d="M11.4093 26.1392C11.4428 26.1666 11.4764 26.194 11.5109 26.2222C11.5403 26.2459 11.5697 26.2697 11.6 26.2941C11.6599 26.3433 11.7189 26.3937 11.7776 26.4445C11.7075 26.6035 11.6106 26.7251 11.4998 26.8583C11.4643 26.9011 11.4289 26.9438 11.3923 26.9879C11.2698 27.1335 11.1466 27.2784 11.022 27.4222C10.8749 27.3568 10.7681 27.272 10.647 27.1667C10.0599 26.689 9.40151 26.5605 8.66645 26.6222C8.18529 26.7114 7.7135 26.9757 7.40534 27.3594C6.96027 28.0206 6.79389 28.726 6.93867 29.5111C7.08882 30.1423 7.42753 30.6666 7.98503 31.0113C8.54062 31.3082 9.15947 31.3927 9.76923 31.2167C10.256 31.0444 10.6342 30.782 11.022 30.4445C11.3265 30.6992 11.6138 30.9475 11.822 31.2889C11.3252 31.8017 11.3252 31.8017 11.062 31.9381C10.9172 32.0349 10.9172 32.0349 10.8996 32.2086C10.8982 32.2763 10.8982 32.344 10.8994 32.4117C10.899 32.4491 10.8985 32.4864 10.8981 32.5249C10.8971 32.6503 10.8979 32.7756 10.8988 32.901C10.8984 32.9908 10.8979 33.0806 10.8973 33.1704C10.8961 33.4144 10.8964 33.6583 10.8971 33.9023C10.8975 34.1572 10.8964 34.412 10.8955 34.6669C10.894 35.1497 10.8938 35.6324 10.8941 36.1152C10.8944 36.6647 10.8932 37.2143 10.8918 37.7639C10.8891 38.8944 10.8885 40.025 10.8887 41.1556C12.0767 41.1556 13.2647 41.1556 14.4887 41.1556C14.4887 41.5369 14.4887 41.9182 14.4887 42.3111C12.89 42.3111 11.2913 42.3111 9.64423 42.3111C9.64423 39.0698 9.64423 35.8285 9.64423 32.4889C9.24823 32.4889 8.85223 32.4889 8.44423 32.4889C7.55609 32.3262 6.77435 31.8781 6.22201 31.1556C5.62106 30.2559 5.40176 29.2259 5.60534 28.1583C5.84039 27.2464 6.32239 26.4553 7.13034 25.9389C8.4496 25.179 10.1835 25.1889 11.4093 26.1392Z" fill="#ffffff"></path>
                <path d="M25.1553 35.4222C26.3108 35.4222 26.3108 35.4222 26.5997 35.6972C26.6642 35.7903 26.6642 35.7903 26.7044 35.8706C26.7926 36.0351 26.8967 36.1762 27.0136 36.3222C27.0503 36.3699 27.087 36.4176 27.1235 36.4654C27.263 36.647 27.4036 36.8277 27.5442 37.0083C27.5835 37.0588 27.5835 37.0588 27.6236 37.1104C27.7045 37.2143 27.7854 37.3183 27.8664 37.4222C28.1839 37.83 28.5011 38.238 28.8159 38.6479C29.0609 38.9664 29.3084 39.2829 29.5553 39.6C29.6579 39.732 29.7606 39.864 29.8664 40C29.8811 38.4893 29.8957 36.9787 29.9108 35.4222C30.3068 35.4222 30.7028 35.4222 31.1108 35.4222C31.1108 37.6809 31.1108 39.9395 31.1108 42.2667C30.0442 42.2667 30.0442 42.2667 29.7719 42.0055C29.709 41.9152 29.709 41.9152 29.6662 41.8338C29.5449 41.6195 29.395 41.4335 29.2414 41.2417C29.188 41.1732 29.1347 41.1046 29.0815 41.0359C29.0561 41.0032 29.0307 40.9705 29.0046 40.9368C28.8707 40.764 28.7377 40.5905 28.6046 40.4172C28.3867 40.1339 28.1666 39.8522 27.947 39.5702C27.7907 39.3695 27.6346 39.1687 27.4784 38.9678C27.344 38.7949 27.2094 38.6221 27.0745 38.4495C27.0467 38.4137 27.0188 38.378 26.9901 38.3412C26.9371 38.2734 26.8841 38.2055 26.8311 38.1377C26.8069 38.1068 26.7828 38.0758 26.7579 38.0439C26.7369 38.0171 26.716 37.9903 26.6944 37.9627C26.5935 37.829 26.4971 37.6919 26.3997 37.5555C26.3851 39.1102 26.3704 40.6649 26.3553 42.2667C25.9593 42.2667 25.5633 42.2667 25.1553 42.2667C25.1553 40.008 25.1553 37.7493 25.1553 35.4222Z" fill="#ffffff"></path>
                <path d="M16.5337 5.73334C16.9443 5.73334 17.355 5.73334 17.7781 5.73334C17.7788 5.86114 17.7794 5.98894 17.7801 6.12062C17.7823 6.54442 17.7853 6.96821 17.7886 7.392C17.7906 7.64877 17.7923 7.90554 17.7935 8.16231C17.7947 8.41043 17.7965 8.65855 17.7987 8.90666C17.7994 9.00099 17.8 9.09533 17.8002 9.18966C17.8032 10.1948 17.8032 10.1948 18.267 11.0667C18.6134 11.3764 19.0266 11.4921 19.4837 11.4861C19.5206 11.4857 19.5575 11.4853 19.5955 11.4849C20.049 11.4721 20.3836 11.3529 20.7141 11.0342C21.0554 10.6352 21.1244 10.1514 21.1256 9.64366C21.1261 9.60112 21.1265 9.55857 21.127 9.51475C21.1283 9.37551 21.1291 9.23629 21.1299 9.09705C21.1307 8.99997 21.1316 8.90289 21.1325 8.80581C21.1347 8.55133 21.1365 8.29684 21.1382 8.04236C21.1399 7.78226 21.1422 7.52216 21.1444 7.26207C21.1487 6.7525 21.1524 6.24292 21.1559 5.73334C21.5666 5.73334 21.9772 5.73334 22.4003 5.73334C22.4034 6.29551 22.4058 6.85768 22.4072 7.41986C22.4079 7.68096 22.4089 7.94206 22.4104 8.20316C22.4119 8.4556 22.4126 8.70804 22.413 8.96048C22.4132 9.05632 22.4137 9.15216 22.4144 9.24799C22.4216 10.2327 22.3331 11.1435 21.6448 11.9111C20.9981 12.5492 20.1924 12.6894 19.3222 12.6854C18.4964 12.6674 17.7827 12.4296 17.2003 11.8222C16.5184 11.0791 16.5136 10.1203 16.5207 9.17518C16.5209 9.07549 16.5211 8.9758 16.5212 8.87611C16.5217 8.61593 16.523 8.35575 16.5245 8.09557C16.5259 7.8292 16.5265 7.56282 16.5272 7.29644C16.5286 6.7754 16.5309 6.25437 16.5337 5.73334Z" fill="#ffffff"></path>
                <path d="M38.0449 15.6444C42.0664 15.6444 42.0664 15.6444 42.7921 16.3399C43.2791 16.8634 43.4013 17.4466 43.3906 18.1387C43.3679 18.7213 43.1041 19.2526 42.6812 19.6498C42.3174 19.9449 41.9186 20.1095 41.4671 20.2222C41.4371 20.2301 41.407 20.238 41.376 20.2462C41.1825 20.2764 40.991 20.2721 40.7954 20.271C40.7572 20.271 40.719 20.2709 40.6796 20.2709C40.5375 20.2706 40.3954 20.27 40.2533 20.2694C39.9352 20.2685 39.6171 20.2676 39.2894 20.2667C39.2894 21 39.2894 21.7333 39.2894 22.4889C38.8787 22.4889 38.468 22.4889 38.0449 22.4889C38.0449 20.2302 38.0449 17.9716 38.0449 15.6444ZM39.2894 16.7556C39.2894 17.5476 39.2894 18.3396 39.2894 19.1556C39.7046 19.1597 39.7046 19.1597 40.1283 19.1639C40.2147 19.1651 40.3011 19.1663 40.3902 19.1676C40.9398 19.1721 41.4039 19.1529 41.8227 18.7556C42.0339 18.5266 42.1315 18.2822 42.1352 17.9701C42.1145 17.5951 42.0203 17.3341 41.7449 17.075C41.4012 16.794 41.0163 16.7484 40.5871 16.7512C40.5541 16.7513 40.5212 16.7513 40.4872 16.7513C40.3648 16.7516 40.2423 16.7522 40.1199 16.7528C39.8458 16.7537 39.5718 16.7546 39.2894 16.7556Z" fill="#ffffff"></path>
                <path d="M34.6516 26.0861C34.7469 26.1595 34.8406 26.2341 34.9329 26.3111C34.7342 26.6288 34.5283 26.9395 34.3107 27.2444C34.1365 27.2161 34.0174 27.1299 33.8718 27.0333C33.3339 26.6889 32.6975 26.483 32.0563 26.5998C31.7882 26.6714 31.5678 26.7697 31.4159 27.0144C31.3225 27.2486 31.3455 27.5156 31.4329 27.7472C31.8375 28.1426 32.4495 28.2433 32.9805 28.3757C33.6638 28.5476 34.4944 28.785 34.8812 29.4236C35.1552 29.9536 35.2012 30.5356 35.0412 31.1139C34.9469 31.3772 34.8142 31.5763 34.6218 31.7778C34.5958 31.8056 34.5698 31.8333 34.543 31.862C34.0312 32.3576 33.3116 32.4893 32.6246 32.5056C31.5469 32.4813 30.6165 32.089 29.7773 31.4222C29.8477 31.2619 29.9461 31.1397 30.0579 31.0056C30.0934 30.9628 30.1289 30.92 30.1655 30.8759C30.1988 30.8362 30.232 30.7965 30.2662 30.7556C30.3037 30.7104 30.3037 30.7104 30.3419 30.6644C30.3906 30.6058 30.4395 30.5473 30.4885 30.4889C30.634 30.5538 30.7595 30.641 30.8896 30.7324C31.2144 30.9589 31.5296 31.1271 31.9107 31.2444C31.9441 31.2553 31.9776 31.2661 32.0121 31.2773C32.4538 31.3984 33.0048 31.4024 33.4218 31.2C33.5792 31.0978 33.6975 30.9902 33.7968 30.8306C33.8469 30.591 33.8591 30.392 33.7551 30.1667C33.3755 29.7491 32.7859 29.6423 32.2597 29.503C30.703 29.0905 30.703 29.0905 30.276 28.4252C30.1255 28.1084 30.0648 27.8224 30.069 27.4722C30.0695 27.4138 30.0695 27.4138 30.07 27.3541C30.0777 27.053 30.1215 26.8011 30.2662 26.5333C30.2846 26.4985 30.3029 26.4637 30.3218 26.4278C30.5772 25.9982 30.9968 25.7108 31.4662 25.5556C32.5441 25.2855 33.7362 25.4223 34.6516 26.0861Z" fill="#ffffff"></path>
                <path d="M14.7998 35.4222C16.6331 35.4222 18.4665 35.4222 20.3554 35.4222C20.3554 35.8035 20.3554 36.1849 20.3554 36.5778C19.6514 36.5778 18.9474 36.5778 18.222 36.5778C18.222 38.4551 18.222 40.3324 18.222 42.2667C17.7967 42.2667 17.3714 42.2667 16.9331 42.2667C16.9331 40.3893 16.9331 38.512 16.9331 36.5778C16.2291 36.5778 15.5251 36.5778 14.7998 36.5778C14.7998 36.1964 14.7998 35.8151 14.7998 35.4222Z" fill="#ffffff"></path>
              </svg>
            </div>
            <div class="flex flex-col lg:flex-row gap-8 lg:gap-8 xl:gap-12">
              <div class="flex flex-col">
                <div class="flex flex-col gap-1">
                  <h2 class="text-white font-bold font-sans mb-4">
                    <a href="/about-us" class="">Who We Are</a>
                  </h2>
                  <ul class="text-white text-sm lg:text-xs flex flex-col gap-3">
                    <li>
                      <a href="{{ path('app_about') }}" class="hover:underline">About</a>
                    </li>
                    <li>
                      <a href="/case-studies" class="hover:underline">Case Studies</a>
                    </li>
                    <li>
                      <a href="/insights" class="hover:underline">Insights</a>
                    </li>
                    <!-- <li><a href="#" class="hover:underline">Clients</a></li> -->
                    <li>
                      <a href="/contact-us" class="hover:underline">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <h2 class="text-white font-bold font-sans mb-4">
                  <a href="/sectors" class="">Sectors</a>
                </h2>
                <ul class="text-white text-sm lg:text-xs lg:columns-2 space-y-3">
                  <li>
                    <a href="/sectors/construction" class="hover:underline"> Construction </a>
                  </li>
                  <li>
                    <a href="/sectors/healthcare" class="hover:underline"> Healthcare </a>
                  </li>
                  <li>
                    <a href="/sectors/energy" class="hover:underline"> Energy </a>
                  </li>
                  <li>
                    <a href="/sectors/logistics" class="hover:underline"> Supply Chain &amp; Logistics </a>
                  </li>
                  <li>
                    <a href="/sectors/transport-mobility" class="hover:underline"> Transport &amp; Mobility </a>
                  </li>
                  <li>
                    <a href="/sectors/consumer-goods" class="hover:underline"> Consumer Goods </a>
                  </li>
                </ul>
              </div>
              <div class="flex flex-col gap-1">
                <h2 class="text-white font-bold font-sans mb-4">
                  <a href="/services" class="">Services</a>
                </h2>
                <ul class="text-white text-sm lg:text-xs lg:columns-2 space-y-3">
                  <li>
                    <a href="/services/market-research" class="hover:underline"> Market Research </a>
                  </li>
                  <li>
                    <a href="/services/strategic-planning" class="hover:underline"> Strategic Planning </a>
                  </li>
                  <li>
                    <a href="/services/market-entry-strategy" class="hover:underline"> Market Entry Strategy </a>
                  </li>
                  <li>
                    <a href="/services/mergers-and-acquisitions" class="hover:underline"> Mergers and Acquisitions </a>
                  </li>
                  <li>
                    <a href="/services/value-chain-analysis" class="hover:underline"> Value Chain Analysis </a>
                  </li>
                  <li>
                    <a href="/services/competitive-benchmarking" class="hover:underline"> Competitive Benchmarking </a>
                  </li>
                  <li>
                    <a href="/services/distribution-strategic-partnership" class="hover:underline"> Distribution &amp; Strategic Partnership </a>
                  </li>
                  <li>
                    <a href="/services/consumer-behavior-analysis" class="hover:underline"> Consumer Behavior Analysis </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-picton-blue-950">
        <div class="container py-4 flex gap-4 items-center justify-center lg:justify-start">
          <div class="flex items-center gap-4 text-xs text-white">
            <p>Copyright  Eurogroup Consulting {{ "now"|date('Y') }}</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>